<div class="p-2">
	<div class="p-2 mt-1">
			<div class="pl-1">
				<h3 class="font-semibold text-lg uppercase text-blue-900">Cottage master Form</h3>
			</div>
		<div >
			<div class="w-full bg-white mat-elevation-z8 p-2 h-fit mr-2">
				<div class="flex">
					<div>
						<h4 class="text-xs font-semibold text-gray-500">Fill out cottage information!</h4>
						<form [formGroup]="cottageForm" class="pt-2 text-xs w-full pr-2">
					
							<mat-form-field appearance="outline" class="text-xs w-1/2 pr-1">
								<mat-label>Cottage type</mat-label>
								<mat-select 
									formControlName="type" 
									class="capitalize"
									>
									<mat-option 
										*ngFor="let cot of typeList" 
										class="capitalize" 
										[value]="cot"
										>
										{{cot}}
									</mat-option>
								</mat-select>
								<mat-error *ngIf="type?.touched && type?.errors?.['required']">
									Type is required
								</mat-error>
							</mat-form-field>
					
							<mat-form-field appearance="outline" class="text-xs w-1/2">
								<mat-label>Cottage #</mat-label>
								<input 
									type="text" 
									formControlName="cottageNumber" 
									matInput 
									autocomplete="off" 
								/>
								<mat-error 
									*ngIf="cottageNumber?.touched && cottageNumber?.errors?.['required']">
									Cottage number is required
								</mat-error>
							</mat-form-field>
					
							<mat-form-field appearance="outline" class="text-xs w-1/2 pr-1">
								<mat-label>Capacity</mat-label>
								<input type="text" formControlName="capacity" matInput autocomplete="off">
								<mat-error *ngIf="capacity?.touched && capacity?.errors?.['required']">
									Capacity is required
								</mat-error>
							</mat-form-field>
					
							<mat-form-field appearance="outline" class="text-xs w-1/2">
								<mat-label>Cottage price</mat-label>
								<input type="number" min="1" formControlName="price" matInput autocomplete="off" />
								<mat-error *ngIf="price?.touched && price?.errors?.['required']">
									Cottage price is required
								</mat-error>
							</mat-form-field>
					
							<mat-form-field appearance="outline" class="text-xs w-full">
								<mat-label>Description</mat-label>
								<textarea class="text-xs" formControlName="description" matInput></textarea>
								<mat-error *ngIf="description?.touched && description?.errors?.['required']">Description is required</mat-error>
							</mat-form-field>
					
							<input 
								type="file" 
								accept=".jpg"
								(change)="changeImage($event)" 
								autocomplete="off" 
								#fileUpload 
								hidden 
							/>
				
						</form>
					</div>
					
					<div class="2/5">
						<img 
							[src]="url" 
							width="420" 
							height="415"
							class="h-60 w-96 cursor-pointer border-2" 
							alt=""
							(click)="fileUpload.click()"
							/>
					</div>
				</div>

				<div class="flex justify-end">
					<button 
						mat-raised-button 
						class="bg-blue-600 text-white"
						(click)="saveCottage()"
						>
						Save Cottage
					</button>
				</div>
				
			</div>

			<div class="bg-white mat-elevation-z8 w-full mt-4 h-fit">
				<div class="pt-2 pb-1 pl-2">
					<h4 class="text-xs font-semibold text-gray-500">Cottage list!</h4>
				</div>

				<div class="w-full overflow-x-auto">
					<table [dataSource]="dataCottage" mat-table matSort #cottageSort="matSort" class="w-full">
						<ng-container [matColumnDef]="col.key" *ngFor="let col of column_schema">
							<th 
								mat-header-cell 
								*matHeaderCellDef 
								mat-sort-header
								class="uppercase bg-gray-100 w-36 max-w-xs break-words"
								>
								{{col.label}}
							</th>
					
							<td mat-cell *matCellDef="let element">
					
								<div [ngSwitch]="col.type" *ngIf="!element.isEdit">
									
									<div *ngSwitchCase="'images'">
										<img 
											class="border-2 h-20 w-20"
											[src]="base64+','+element[col.key]" 
											alt=""
										/>
									</div>

									<div *ngSwitchCase="'type'">
										<span class="capitalize">{{element[col.key]}}</span>
									</div>

									<div *ngSwitchCase="'price'">
										<span>{{element[col.key] | currency : "&#8369;"}}</span>
									</div>

									<div *ngSwitchCase="'isEdit'" class="space-x-2 flex ">
										<button
											mat-raised-button
											class="bg-orange-600 text-white"
											(click)="element.isEdit = !element.isEdit; passImage(element)"
											>
											Edit
										</button>
									</div>
					
									<div 
										*ngSwitchDefault
										>
										{{element[col.key]}}
									</div>

								</div>

								<!-- edit division -->
								<div [ngSwitch]="col.type" *ngIf="element.isEdit">
									<form (ngSubmit)="element.isEdit = !element.isEdit; updateCottage(element)">
										<div *ngSwitchCase="'images'">
											<input 
												type="file" 
												accept=".jpg"
												(change)="changeImage($event)" 
												autocomplete="off" 
												#fileUploadChanges 
												hidden 
											/>
											<img 
												class="border-2 h-20 w-20"
												[src]="url" 
												alt=""
												(click)="fileUploadChanges.click()"
											/>
										</div>

										<div *ngSwitchCase="'type'">
											<mat-form-field class="pr-2">
												<mat-select 
													class="capitalize"
													[(ngModel)]="element[col.key]" 
													[ngModelOptions]="{standalone: true}"
													>
													<mat-option
														class="capitalize" 
														*ngFor="let cot of typeList" 
														[value]="element[col.key]"
														>
														{{cot}}
													</mat-option>
												</mat-select>
											</mat-form-field>
										</div>


										<div *ngSwitchCase="'isEdit'">
											<button
												mat-raised-button
												class="bg-blue-600 text-white"
												type="submit"
												>
												Done
											</button>
										</div>

										<div *ngSwitchDefault>
											<mat-form-field class="pr-2">
												<input
													[type]="col.type"
													matInput
													[(ngModel)]="element[col.key]"
													[ngModelOptions]="{standalone: true}"
													class="capitalize"
												/>
											</mat-form-field>
										</div>
									</form>
								</div>
							</td>
						</ng-container>
						<tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
						<tr mat-row *matRowDef="let row; columns: displayColumns"></tr>
					</table>
				</div>

				<div>
					<mat-paginator 
						#cottagePaginator 
						[length]="100" 
						[pageSize]="20" 
						[pageSizeOptions]="[5, 10, 25, 100]"
						aria-label="Select page">
					</mat-paginator>
				</div>
			</div>
		</div>

	</div>
</div>