<div class="p-2">
	<div class="p-2 mt-1">
			<div class="pl-1">
				<h3 class="font-semibold text-lg uppercase text-blue-900">Cottage master Form</h3>
			</div>
			<!-- <div class="bg-gray-500 h-5 mb-2"></div> -->

		<div fxLayout="row">
			<div class="w-1/3 bg-white mat-elevation-z8 p-2 h-fit mr-2">
				<h4 class="text-xs font-semibold text-gray-500">Fill out cottage information!</h4>
				<form [formGroup]="cottageForm" class="pt-2 text-xs" (ngSubmit)="saveCottage()">
					<mat-form-field appearance="outline" class="text-xs w-full">
						<mat-label>Cottage type</mat-label>
						<mat-select formControlName="cottageType">
							<mat-option *ngFor="let cot of type" [value]="cot">{{cot}}</mat-option>
						</mat-select>
						<mat-error *ngIf="cottageType?.touched && cottageType?.errors?.['required']">Type is required</mat-error>
					</mat-form-field>

					<mat-form-field appearance="outline" class="text-xs w-full">
						<mat-label>Cottage #</mat-label>
						<input 
							type="text" 
							formControlName="cottageNumber" 
							matInput 
							autocomplete="off"
							>
						<mat-error 
							*ngIf="cottageNumber?.touched && cottageNumber?.errors?.['required']"
							>
							Cottage number is required
						</mat-error>
					</mat-form-field>

					<mat-form-field appearance="outline" class="text-xs w-full">
						<mat-label>Capacity</mat-label>
						<input 
							type="text" 
							formControlName="capacity" 
							matInput 
							autocomplete="off"
							>
						<mat-error 
							*ngIf="capacity?.touched && capacity?.errors?.['required']"
							>
							Capacity is required
						</mat-error>
					</mat-form-field>

					<mat-form-field appearance="outline" class="text-xs w-full">
						<mat-label>Cottage price</mat-label>
						<input 
							type="text" 
							formControlName="cottagePrice" 
							matInput 
							autocomplete="off"
						/>
						<mat-error 
							*ngIf="cottagePrice?.touched && cottagePrice?.errors?.['required']"
							>
							Cottage price is required
						</mat-error>
					</mat-form-field>

					<mat-form-field appearance="outline" class="text-xs w-full">
						<mat-label>Description</mat-label>
						<textarea class="text-xs" formControlName="description" matInput ></textarea>
						<mat-error *ngIf="description?.touched && description?.errors?.['required']">Description is required</mat-error>
					</mat-form-field>

					<input 
						type="file" 
						formControlName="image" 
						(change)="changeImage($event)" 
						autocomplete="off" 
						#fileUpload 
						hidden
					/>
					<div class="file-upload w-full flex justify-around">
					
						<div class="whitespace-nowrap pt-3 text-ellipsis overflow-hidden">
							<span class="">{{ fileName || "No file uploaded yet."}}</span>
						</div>
					
						<button mat-mini-fab color="primary" class="upload-btn" (click)="fileUpload.click()">
							<mat-icon>attach_file</mat-icon>
						</button>
					</div>
					<div class="flex justify-end pt-2">
						<button 
							mat-raised-button 
							class="bg-blue-600 text-white"
							>
							Save Cottage
						</button>
					</div>
				</form>
			</div>
			<div class="bg-white mat-elevation-z8 w-2/3 h-fit">
				<div class="pt-2 pb-1 pl-2">
					<h4 class="text-xs font-semibold text-gray-500">Cottage list!</h4>
				</div>
				<table class="w-full mt-2 border">
					<thead class="text-xs uppercase text-left bg-gray-200">
						<tr>
							<th class="p-1">No.</th>
							<th class="p-1">Cottage type</th>
							<th class="p-1">Cottage number</th>
							<th class="p-1">Price</th>
							<th class="p-1">Date added</th>
							<th class="p-1">Action</th>
						</tr>
					</thead>
					<tbody class="text-xs text-left">
						<tr class="hover:bg-yellow-50 cursor-pointer">
							<td class="p-1">1.</td>
							<td class="p-1 w-36 max-w-xs break-words">Floating cottage</td>
							<td class="p-1">#12</td>
							<td class="p-1">200.00</td>
							<td class="p-1">09/15/2022</td>
							<td class="p-1">
								<a class="italic text-slate-600 hover:underline cursor-pointer">Edit</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

	</div>
</div>