<div class="flex flex-col">
	<div class="w-full ">
		<div class="">
			<app-carousel class="rounded w-screen max-w-fit" [images]="images" [autoSlide]="true"></app-carousel>
		</div>
	</div>
	
	<div class="w-full">
	<div class=" p-5" >
		<div class="-ml-20 mb-10 absolute">
				<div class="flex justify-center pt-0">
					<div class="bg-blue-600 w-96 h-96 rounded-full -z-50">
						<div class="flex justify-center align-middle pt-7">
							<div class="bg-yellow-400 w-80 h-80 rounded-full text-center  "></div>
						</div>
					</div>
				</div>
		</div>
		<div class="pt-20">
			<h3 class="font-semibold uppercase">RVS Resort</h3>
			<p >
				RVS, Margosatubig is one of the famous tourist destinations in Margos especially when it comes to beaches. RVS resort started business last April 20,2000 located at Gabay Margosatubig Zamboanga Del Sur. For over 22 years, RVS Resort Reservation Management uses Manual Booking as their only thing to store all record of their customers, transaction and inventory. They are also using receipt for customers to write their information on and then manually write it on book, leading the booking agent to spend too much time and effort in putting data. To address every problem, we proposed an idea to have RVS resort  Reservation and Booking management web-based system. The software manages online reservations made through the RVS resort website and then transfer the information to the resort own backend so that it can be conveniently accessible. Then, resort personnel handle the reservations. The most reliable web-based system to manage everything about RVS resort.
			</p>
		</div>			
	</div>
</div>
</div>

