<div class="p-2">
	<div class="p-2">
		<h3 class="font-semibold text-lg uppercase text-blue-900">Walkin Reservation Form</h3>

		<div class="mt-4">
			<mat-stepper linear #stepper>
				<mat-step [stepControl]="reservationForm" [editable]="isEditable">
					<ng-template matStepLabel>Fill in reservation information</ng-template>

					<div class="flex">
						<div class="w-2/5 border-2 h-fit rounded mr-4">
							<form [formGroup]="reservationForm" class="text-xs p-4">

								<mat-form-field appearance="outline" class="text-xs w-full">
									<mat-date-range-input [rangePicker]="picker">
										<input 
											matInput 
											matStartDate 
											placeholder="Start date"
											readonly="true"
											formControlName="selected_date_from"
										/>
										<input 
											matInput 
											matEndDate 
											placeholder="End date"
											readonly="true"
											formControlName="selected_date_to"
										/>
									</mat-date-range-input>
									<mat-datepicker-toggle 
										matSuffix 
										[for]="picker"
										>
									</mat-datepicker-toggle>
									<mat-date-range-picker 
										#picker
										>
									</mat-date-range-picker>

									<mat-error 
										*ngIf="selected_date_from?.touched && selected_date_from?.errors?.['required'] 
										&& selected_date_to?.touched && selected_date_to?.errors?.['required'] ">Date is required</mat-error>
									
								</mat-form-field>

								<mat-form-field appearance="outline" class="w-full">
									<mat-label>Select type cottage</mat-label>
									<mat-select class="capitalize" formControlName="type" (ngModelChange)="changeCottageType($event)">
										<mat-option
											class="capitalize" 
											*ngFor="let cottage of cottageType" 
											[value]="cottage"
											>
											{{cottage}}
										</mat-option>
									</mat-select>

									<mat-error *ngIf="type?.touched && type?.errors?.['required']">Type is required</mat-error>
								</mat-form-field>	

								<mat-form-field appearance="outline" class="w-full">
									<mat-label>Select cottage number</mat-label>
									<mat-select 
										class="capitalize" 
										formControlName="cottage_number" 
										(ngModelChange)="changeCottageNumber($event)"
										>
										<mat-option *ngFor="let cottage of cottageList" [value]="cottage.cottage_number">{{cottage.cottage_number}}</mat-option>
									</mat-select>

									<mat-error *ngIf="cottage_number?.touched && cottage_number?.errors?.['required'] ">Cottage number is required</mat-error>
								</mat-form-field>

								<div class="w-full">
									<button 
										mat-raised-button
										class="bg-blue-600 text-white w-full"
										(click)="addCottage()"
										>
										{{btnName}}
									</button>
								</div>
							</form>
						</div>

						<!-- added cottage -->

						<div class="w-3/5">
							<mat-tab-group class="border-2 text-xs rounded" *ngIf="cottageAddedList.length !== 0">
								<mat-tab [label]="cottage.cottage_number" *ngFor="let cottage of cottageAddedList">
									<div class="flex flex-row p-2">
										<div class="w-1/2" fxLayoutAlign="center center">
											<img class="rounded h-full" [src]="base64+', '+ cottage.images?.[0]" alt="">
										</div>
						
										<div class="w-1/2 pl-2">
											<p class="text-sm font-medium text-gray-500 dark:text-white">Cottage Breakdown!</p>
											<br>
											<mat-form-field class="text-xs w-full" floatLabel="always">
												<mat-label>Cottage type</mat-label>
												<input class="capitalize" type="text" [value]="cottage.type" matInput readonly="true" autocomplete="off" />
											</mat-form-field>
						
											<mat-form-field class="text-xs w-full" floatLabel="always">
												<mat-label>Available Cottage</mat-label>
												<input type="text" matInput readonly="true" [value]="cottage.cottage_number" autocomplete="off" />
											</mat-form-field>
						
											<div class="pt-2">
												<p class="text-xs font-medium text-gray-700 dark:text-white">Description</p>
												<p class="text-xs font-medium text-gray-500 dark:text-white">{{cottage.description}} </p>
											</div>
						
											<div class="pt-2">
												<p class="text-xs font-medium text-gray-700 dark:text-white">Capacity</p>
												<p class="text-xs font-medium text-gray-500 dark:text-white"></p>
											</div>
						
											<div class="pt-2">
												<p class="text-xs font-medium text-gray-700 dark:text-white">Cottage price</p>
												<p class="text-xs font-medium text-gray-500 dark:text-white">{{cottage.price| currency : "&#8369;"}}</p>
											</div>
						
											<div>
												<button 
													class="bg-red-500 text-white w-full" 
													mat-raised-button
													(click)="deleteCottage(cottage.id)"
													>
													Cancel Cottage
												</button>
											</div>
										</div>
									</div>
								</mat-tab>
							</mat-tab-group>

							<div *ngIf="cottageAddedList.length === 0" fxLayout="row" fxLayoutAlign="center center">
								<h4 class="text-center mt-20">NO ADDED COTTAGE YET!</h4>
							</div>
						</div>

						
					</div>

					<!-- next button -->
					<div class="flex justify-end mt-4">
						<button
							mat-raised-button
							matStepperNext
							class="bg-green-600 text-white"
							>
							Next <span *ngIf="total !== 0">| Total Amount {{total * totalDays}} | Total Day/s {{totalDays}}</span>
						</button>
					</div>

				</mat-step>

				<mat-step [editable]="isEditable">
					<ng-template matStepLabel>Fill in user information</ng-template>

					<div>
						<form [formGroup]="userForm" class="text-xs" (ngSubmit)="submitBook()" >
							<mat-form-field appearance="outline" class="w-1/4 pr-1" >
								<mat-label>Firstname</mat-label>
								<input 
									type="text" 
									matInput 
									autocomplete="off"
									formControlName="firstname"
								/>
							</mat-form-field>

							<mat-form-field appearance="outline" class="w-1/4 pr-1">
								<mat-label>Lastname</mat-label>
								<input 
									type="text" 
									matInput 
									autocomplete="off"
									formControlName="lastname"
								/>
							</mat-form-field>

							<mat-form-field appearance="outline" class="w-1/4 pr-1">
								<mat-label>Email (Optional)</mat-label>
								<input 
									type="text" 
									matInput 
									autocomplete="off"
									formControlName="email"
								/>
							</mat-form-field>

							<mat-form-field appearance="outline" class="w-1/4 ">
								<mat-label>Contact</mat-label>
								<input 
									type="text" 
									matInput 
									autocomplete="off"
									formControlName="mobile_number"
								/>
							</mat-form-field>

							<mat-form-field appearance="outline" class="w-1/2 pr-1">
								<mat-label>Address</mat-label>
								<textarea 
									matInput 
									autocomplete="off"
									formControlName="address"
									>
								</textarea>
							</mat-form-field>

							<mat-form-field appearance="outline" class="w-1/2">
								<mat-label>Comment(Optional)</mat-label>
								<textarea 
									matInput 
									autocomplete="off"
									formControlName="comment"
									>
								</textarea>
							</mat-form-field>

							<div class="flex justify-end">
								<button mat-button matStepperPrevious>Previous</button>
								<button
									mat-raised-button
									class="bg-blue-600 text-white"
									type="submit"
									matStepperNext
									>
									Submit
								</button>
							</div>
						</form>
					</div>
				</mat-step>
				<mat-step [editable]="isEditable">
					<ng-template matStepLabel>Done</ng-template>
				</mat-step>
			</mat-stepper>	
		</div>
<!-- 
		<div class="bg-white mat-elevation-z8">  
			<div class="w-full p-4">
				<h4 class="text-xs">Fill out user information!</h4>
				<form [formGroup]="reservationForm" class="pt-2">
					<mat-form-field appearance="outline" class="text-xs w-1/2 pr-1">
						<mat-label>Firstname</mat-label>
						<input type="text" autocomplete="off" formControlName="firstname"  matInput>
						<mat-error *ngIf="firstname?.touched && firstname?.errors?.['required']">Firstname is required.</mat-error>
					</mat-form-field>

					<mat-form-field appearance="outline" class="text-xs w-1/2">
						<mat-label>Lastname</mat-label>
						<input type="text" autocomplete="off" formControlName="lastname" matInput>
						<mat-error *ngIf="lastname?.touched && lastname?.errors?.['required']">lastname is required.</mat-error>
					</mat-form-field>

					<mat-form-field appearance="outline" class="text-xs w-1/2 pr-1">
						<mat-label>Contact</mat-label>
						<span matPrefix>+63 &nbsp;</span>
						<input type="text" autocomplete="off" formControlName="contact" matInput maxlength="10">
						<mat-error *ngIf="contact?.touched && contact?.errors?.['required']">contact is required.</mat-error>
					</mat-form-field>

					<mat-form-field appearance="outline" class="text-xs w-1/2">
						<mat-label>Event Name</mat-label>
						<input type="text" autocomplete="off" formControlName="eventName" matInput >
						<mat-error *ngIf="eventName?.touched && eventName?.errors?.['required']">event is required.</mat-error>
					</mat-form-field>
					
					<mat-form-field appearance="outline" class="text-xs w-full">
						<mat-label>Address</mat-label>
						<input type="text" autocomplete="off" formControlName="address" matInput>
						<mat-error *ngIf="address?.touched && address?.errors?.['required']">address is required.</mat-error>
					</mat-form-field>

					<mat-form-field appearance="outline" class="text-xs w-1/2 pr-1">
						<mat-label>Select Cottage type</mat-label>
						<mat-select>
							<mat-option *ngFor="let type of cottageType">{{type}}</mat-option>
						</mat-select>
					</mat-form-field>

					<mat-form-field appearance="outline" class="text-xs w-1/2">
						<mat-label>Available Cottage</mat-label>
						<mat-select multiple formControlName="cottage">
							<mat-option *ngFor="let item of cottageList" [value]="item"> {{item}} </mat-option>
						</mat-select>
						<mat-error *ngIf="cottage?.touched && cottage?.errors?.['required']">cottage is required.</mat-error>
					</mat-form-field>

					<mat-form-field appearance="outline" class="text-xs w-full">
						<mat-label>Enter a date range</mat-label>
						<mat-date-range-input [rangePicker]="picker">
							<input matInput formControlName="start" matStartDate placeholder="Start date">
							<input matInput formControlName="end" matEndDate placeholder="End date">
						</mat-date-range-input>
						<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
						<mat-date-range-picker #picker></mat-date-range-picker>
					</mat-form-field>

					<mat-form-field appearance="outline" class="text-xs w-full">
						<mat-label>Comments (Optional)</mat-label>
						<textarea type="text" formControlName="comment" matInput autocomplete="off"></textarea>
						<mat-error *ngIf="comment?.touched && comment?.errors?.['required']">Pls enter N/A to procceed is required.</mat-error>
					</mat-form-field>
				</form>
			</div>
			<div class="w-1/3">
				<table class="w-full border">
					<thead class="bg-blue-500 h-4">
						<tr>
							<th></th>
							<th></th>
						</tr>
					</thead>
					<tbody class="text-xs" >
						<tr>
							<td class="p-2 text-lg">Total</td>
							<td class="p-2 text-lg">00.000</td>
						</tr>
						<tr >
							<td class="p-2 text-lg">Cash</td>
							<td class="p-2">
								<mat-form-field class="text-sm w-full">
									<input type="text" matInput autocomplete="off">
								</mat-form-field>
							</td>
						</tr>
						<tr class="bg-gray-400">
							<td class="p-2">Change</td>
							<td class="p-2">.00</td>
						</tr>
						
					</tbody>
				</table>
			</div>
		</div>
		<div class="bg-gray-500 h-3">
			<a class="text-white hover:underline text-xs p-2 cursor-pointer"></a>
		</div>
		<div class="flex justify-end">
			<mat-form-field class="text-xs">
				<mat-label>Search</mat-label>
				<mat-icon matPrefix>search</mat-icon>
				<input type="text" matInput autocomplete="off">
			</mat-form-field>
		</div>
		<table class="w-full mt-2 border">
			<thead class="text-xs uppercase text-left bg-slate-400">
				<tr>
					<th class="p-1">No.</th>
					<th class="p-1">RC #</th>
					<th class="p-1">Complete name</th>
					<th class="p-1">Address</th>
					<th class="p-1">Reserved Cottage</th>
					<th class="p-1">Start date</th>
					<th class="p-1">End date</th>
					<th class="p-1">Reserved by</th>
					<th class="p-1">Status</th>
					<th class="p-1">Action</th>
				</tr>
			</thead>
			<tbody class="text-xs text-left">
				<tr class="hover:bg-yellow-50 cursor-pointer">
					<td class="p-1">1.</td>
					<td class="p-1">RC-COT0001</td>
					<td class="p-1 w-36 max-w-xs break-words">Marjorie Bulay</td>
					<td class="p-1 w-36 max-w-xs break-words">Tawagan Pagadian City</td>
					<td class="p-1">#12</td>
					<td class="p-1">09/15/2022</td>
					<td class="p-1">09/15/2022</td>
					<td class="p-1">Marjorie</td>
					<td class="p-1">paid</td>
					<td class="p-1">
						<a class="italic text-blue-600 hover:underline cursor-pointer">Occupied</a> |
						<a class="italic text-slate-600 hover:underline cursor-pointer">Edit</a> |
						<a class="capitalize italic text-red-700 hover:underline cursor-pointer">cancel</a>
					</td>
				</tr>
			</tbody>
		</table> -->
	</div>
</div>
