
<div class="mt-10">
	<div class="ml-2"> <h3 class=" pr-2 font-semibold text-lg uppercase text-blue-900">User master Form</h3></div>
	<div class="p-2 flex">
		
		<div class="w-1/4 bg-white mat-elevation-z8 p-2 mt-2 mr-2">
			<h4 class="text-xs font-semibold text-gray-500">Fill out user information!</h4>
			<form [formGroup]="userForm" (ngSubmit)="saveUser()"> 
				<mat-form-field appearance="outline" class="text-xs w-full">
					<mat-label>Firstname</mat-label>
					<input 
						type="text" 
						formControlName="firstname" 
						matInput 
						autocomplete="off"
					/>
					<mat-error 
						*ngIf="firstname?.touched && firstname?.errors?.['required']"
						>
						Firstname is required
					</mat-error>
				</mat-form-field>

				<mat-form-field appearance="outline" class="text-xs w-full">
					<mat-label>Lastname</mat-label>
						<input 
							type="text" 
							formControlName="lastname" 
							matInput 
							autocomplete="off"
						/>
					<mat-error 
						*ngIf="lastname?.touched && lastname?.errors?.['required']"
						>
						Lastname is required
					</mat-error>
				</mat-form-field>

				<mat-form-field appearance="outline" class="text-xs w-full">
					<mat-label>Email</mat-label>
						<input 
							type="text" 
							formControlName="email" 
							matInput 
							autocomplete="off"
						/>
					<mat-error 
						*ngIf="email?.touched && email?.errors?.['required']"
						>
						Email is required
					</mat-error>
				</mat-form-field>

				<mat-form-field appearance="outline" class="text-xs w-full">
					<mat-label>Contact</mat-label>
					<span matPrefix>+63 &nbsp;</span>
					<input 
						type="text" 
						formControlName="mobile_number" 
						matInput 
						autocomplete="off"
					/>
					<mat-error 
						*ngIf="mobile_number?.touched && mobile_number?.errors?.['required']"
						>
						Contact is required
					</mat-error>
				</mat-form-field>

				<mat-form-field appearance="outline" class="text-xs w-full">
					<mat-label>User type</mat-label>
					<mat-select formControlName="roles" class="capitalize" multiple>
						<mat-option 
							*ngFor="let user of userRole" 
							class="capitalize" 
							[value]="user"
							>
							{{user}}
						</mat-option>
					</mat-select>
					<mat-error 
						*ngIf="roles?.touched && roles?.errors?.['required']"
						>
						Role is required
					</mat-error>
				</mat-form-field>

				<div class="flex justify-end pb-1">
					<button 
						mat-raised-button 
						class="w-full bg-blue-600 text-white"
						>
						{{btnName}}
					</button>
				</div>
			</form>
		</div>


		<div class="bg-white mat-elevation-z8 w-3/4 mt-2 h-fit">
			<div class="p-2">
					<h4 class="text-xs font-semibold text-gray-500">User list!</h4>
			</div>
			<table 
				[dataSource]="dataUser" 
				matSort 
				#userSort="matSort" 
				mat-table 
				class="w-full mt-2 border"
				>
				<ng-container [matColumnDef]="col.key" *ngFor="let col of columnSchema">
					<th 
						mat-header-cell 
						*matHeaderCellDef 
						mat-sort-header
						class="uppercase bg-gray-100 w-36 break-words max-w-xs"
						>
						{{col.label}}
					</th>

					<td 
						mat-cell 
						*matCellDef="let element" 
						class="text-xs w-36 break-words max-w-xs"
						>

						<div [ngSwitch]="col.type">

							<div *ngSwitchCase="'roles'">
								<span class="capitalize">{{element[col.key]}}</span>
							</div>

							<div *ngSwitchCase="'isEdit'">
								<button
									mat-raised-button
									class="bg-orange-600 text-white"
									(click)="passValue(element)"
									>
									Edit
								</button>
							</div>

							<div *ngSwitchDefault>
								{{element[col.key]}}
							</div>
						</div>

					</td>
				</ng-container>
				<tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
				<tr mat-row *matRowDef="let row; columns: displayColumns"></tr>
			</table>

			<div>
				<mat-paginator 
					#userPaginator 
					[length]="100" 
					[pageSize]="20" 
					[pageSizeOptions]="[5, 10, 25, 100]"
					aria-label="Select page">
				</mat-paginator>
			</div>
			
		</div>
	</div>
</div>