<mat-toolbar class="page-header text-gray-400" role="heading">
	<h1>Dashboard</h1>
</mat-toolbar>

<div class="flex justify-end">
	<mat-button-toggle-group name="fontStyle" aria-label="Font Style">
		<mat-button-toggle 
			value="bold"
			(mwlClick)="setLineGraph()"
			>
				<mat-icon>timeline</mat-icon>
		</mat-button-toggle>
		<mat-button-toggle 
			value="italic"
			(mwlClick)="setBarGraph()"
			>
				<mat-icon> bar_chart</mat-icon>
		</mat-button-toggle>
	</mat-button-toggle-group>
</div>

<div class="w-full overflow-hidden bg-white mat-elevation-z8 p-2">
	<canvas 
	class="w-1/2 text-xs" 
	baseChart 
	[data]="barChartData" 
	[options]="barChartOptions" 
	[type]="barChartType"
	(chartHover)="chartHovered($event)" 
	(chartClick)="chartClicked($event)">
</canvas>
</div>


