<div class="p-4">
	<div class="flex justify-between w-full" >
		<div class="pr-2 pl-4 pb-2 pt-2 w-full">
			<mat-form-field class="text-xs w-full" appearance="outline">
				<mat-label>Filter</mat-label>
				<mat-select>
					<mat-option></mat-option>
				</mat-select>
			</mat-form-field>
		</div>

		<div class="pl-2 pr-4 pb-2 pt-2 w-full">
				<mat-form-field appearance="outline" class="text-xs w-full">
					<mat-label>Search</mat-label>
					<mat-icon matPrefix>search</mat-icon>
					<input type="text" matInput autocomplete="off">
				</mat-form-field>
		</div>
	</div>

	<div class="flex w-full p-2">
		<div class="w-1/3 pl-2 pr-2">
			<mat-card style="max-width: 400px;">
				<mat-card-header class="p-0">
					<mat-card-title>Floating Cottage</mat-card-title>
					<mat-card-subtitle>Capacity: 11 persons</mat-card-subtitle>
				</mat-card-header>
				<img 
					mat-card-image 
					src="assets/p2.jpg" 
					alt="Photo of a Shiba Inu"
					class="w-full max-w-fit"
				/>
				<mat-card-content>
					<div class="flex flex-col">
						<!-- Description section -->
						<div class="flex flex-col mt-1">
							<p class="font-semibold leading-tight">Description: </p>
							<p class="leading-tight font-thin text-xs pt-0.5 text-gray-500">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Mollitia illo obcaecati sequi ipsum repellat labore accusamus neque, deserunt totam veniam facilis consequatur similique facere voluptatum ipsam dolores perspiciatis possimus libero.</p>
						</div>

						<!-- Price section -->
						<div class="flex flex-col mt-3">
							<p class="font-bold leading-tight">Price: </p>
							<p class="leading-tight font-thin text-sm pt-0.5 text-gray-600">{{900 | currency : "&#8369; " }} </p>
						</div>
					</div>
				</mat-card-content>
				<mat-card-actions>
					<button 
						(click)="openDialog()" 
						mat-raised-button 
						class="w-full bg-blue-700 capitalize text-white hover:bg-blue-800"
						>
						reserve cottage
					</button>
				</mat-card-actions>
			</mat-card>
		</div>
		<div class="w-1/3 pl-2 pr-2">
			<mat-card style="max-width: 400px;">
				<mat-card-header class="p-0">
					<mat-card-title>Floating Cottage</mat-card-title>
					<mat-card-subtitle>Capacity: 11 persons</mat-card-subtitle>
				</mat-card-header>
				<img 
					mat-card-image 
					src="assets/p2.jpg" 
					alt="Photo of a Shiba Inu"
					class="w-full max-w-fit"
				/>
				<mat-card-content>
					<div class="flex flex-col">
						<!-- Description section -->
						<div class="flex flex-col mt-1">
							<p class="font-semibold leading-tight">Description: </p>
							<p class="leading-tight font-thin text-xs pt-0.5 text-gray-500">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Mollitia illo obcaecati sequi ipsum repellat labore accusamus neque, deserunt totam veniam facilis consequatur similique facere voluptatum ipsam dolores perspiciatis possimus libero.</p>
						</div>

						<!-- Price section -->
						<div class="flex flex-col mt-3">
							<p class="font-bold leading-tight">Price: </p>
							<p class="leading-tight font-thin text-sm pt-0.5 text-gray-600">{{900 | currency : "&#8369; " }} </p>
						</div>
					</div>
				</mat-card-content>
				<mat-card-actions>																	
					<button
						(click)="openDialog()"  
						mat-raised-button class="w-full bg-blue-700 capitalize text-white hover:bg-blue-800"
						>
						reserve cottage
				</button>
				</mat-card-actions>
			</mat-card>
		</div>
		<div class="w-1/3 pl-2 pr-2">
			<mat-card style="max-width: 400px;">
				<mat-card-header>
					<mat-card-title>Floating Cottage</mat-card-title>
					<mat-card-subtitle>Capacity: 11 persons</mat-card-subtitle>
				</mat-card-header>
				<img 
					mat-card-image 
					src="assets/pic1.jpg" 
					alt="Photo of a Shiba Inu"
					class="w-full max-w-fit"
				/>
				<mat-card-content>
					<div class="flex flex-col">
						<!-- Description section -->
						<div class="flex flex-col mt-1">
							<p class="font-semibold leading-tight">Description: </p>
							<p class="leading-tight font-thin text-xs pt-0.5 text-gray-500">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Mollitia illo obcaecati sequi ipsum repellat labore accusamus neque, deserunt totam veniam facilis consequatur similique facere voluptatum ipsam dolores perspiciatis possimus libero.</p>
						</div>

						<!-- Price section -->
						<div class="flex flex-col mt-3">
							<p class="font-bold leading-tight">Price: </p>
							<p class="leading-tight font-thin text-sm pt-0.5 text-gray-600">{{900 | currency : "&#8369; " }} </p>
						</div>
					</div>
				</mat-card-content>
				<mat-card-actions>
					<button
						(click)="openDialog()" 
						mat-raised-button 
						class="w-full bg-blue-700 capitalize text-white hover:bg-blue-800"
						>
						reserve cottage
					</button>
				</mat-card-actions>
			</mat-card>
		</div>
	</div>
</div>